body{
    background-color: #000000;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: center;
}

header h3{
    display: flex;
    justify-content: flex-start;
}

article{
    display: flex;
    justify-content: center;
    border: thin solid blueviolet;
    background: #121212;
    border-radius: .8rem;
    box-shadow: 2px 0px 2px 2px #D8BFD8;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: stretch;
    width: 40rem;
}

button{
    background-color: #121212;
    color: white;
    width: 7rem;
    cursor: pointer;
    border-radius: .5rem;
    flex-direction: column;
}
.hollowImage{
    box-shadow: 10px -15px 0px 0px #4B0082;
    border-radius: .5rem;
}
.doItImage{
    box-shadow: 10px -15px 0px 0px #4B0082;
    border-radius: .5rem;
}


